<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134820512-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-134820512-1');
  </script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo&amp;subset=korean" rel="stylesheet">

  <title>Korean JSON</title>
</head>

<body>

  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Korean JSON</h5>
    <nav class="my-2 my-md-0 mr-md-3">

      <a class="btn btn-sm btn-outline-primary" href="https://github.com/jd1386/korean-json">Github</a>
    </nav>
  </div>

  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto">
    <h1 class="display-4">Korean JSON</h1>
    <p class="lead mt-4">Super simple JSON API in Korean. <br />
      Request GET, POST, DELETE actions and get JSON data in Korean
      to
      get
      the most out of the look and feel of Korean language.</p>
    <p class="lead">한국어 데이터를 제공하는 초간단 JSON API. <br />
      GET, POST, DELETE 요청을 보내고 한국어 데이터를 받으세요. 라틴어이자 알파벳 문자인 로렘입숨 대신 한글 데이터를 사용하면 프로토타이핑을 조금 더 현실적인 환경에서, 조금 더 빠르고 즐겁게 할
      수 있습니다.
    </p>
    <p class="text-muted">This project is heavily inspired by <a
        href="https://jsonplaceholder.typicode.com/">JSONPlaceholder</a> of which we have been big fans for a long
      time.
      <br />
      저희는 JSONPlaceholder의 오랜 사용자이자 팬으로서 한국어 사용자들을 대상으로 제작하였습니다.</p>
  </div>

  <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto">
    <div>
      <h3>Resources</h3>
      <div>
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">Endpoint</th>
              <th scope="col">Resource</th>
              <th scope="col">Methods</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"><a href="/users">/users</a></th>
              <td>유저 목록, 생성, 삭제</td>
              <td>GET, POST, DELETE</td>
            </tr>
            <tr>
              <th scope="row"><a href="/users/1">/users/:id</a></th>
              <td>유저 조회</td>
              <td>GET</td>
            </tr>
            <tr>
              <th scope="row"><a href="/posts">/posts</a></th>
              <td>포스트 목록, 생성, 삭제</td>
              <td>GET, POST, DELETE</td>
            </tr>
            <tr>
              <th scope="row"><a href="/posts/1">/posts/:id</a></th>
              <td>포스트 조회</td>
              <td>GET</td>
            </tr>
            <tr>
              <th scope="row"><a href="/posts?userId=1">/posts?userId={id}</a></th>
              <td>유저별 포스트 조회</td>
              <td>GET</td>
            </tr>
            <tr>
              <th scope="row"><a href="/todos">/todos</a></th>
              <td>할 일 목록, 생성, 삭제</td>
              <td>GET, POST, DELETE</td>
            </tr>
            <tr>
              <th scope="row"><a href="/todos/:id">/todos/:id</a></th>
              <td>할 일 조회</td>
              <td>GET</td>
            </tr>
            <tr>
              <th scope="row"><a href="/todos?userId=1">/todos?userId={id}</a></th>
              <td>유저별 할 일 조회</td>
              <td>GET</td>
            </tr>
            <tr>
              <th scope="row"><a href="/comments">/comments</a></th>
              <td>댓글 목록, 생성, 삭제</td>
              <td>GET, POST, DELETE</td>
            </tr>
            <tr>
              <th scope="row"><a href="/comments?userId=1">/comments?userId={id}</a></th>
              <td>유저별 댓글 조회</td>
              <td>GET</td>
            </tr>
            <tr>
              <th scope="row"><a href="/comments?postId=1">/comments?postId={id}</a></th>
              <td>포스트별 댓글 조회</td>
              <td>GET</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto">
    <div>
      <h3>How to contribute</h3>
      <div><a href="http://github.com/jd1386/korean-json">Github repo</a>에서 누구나 pull request 하실 수 있습니다. </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</body>

</html>